<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <appSettings>
		<add key="filePath"  value="C:\Users\wtstr\source\repos\TrackerUI1\TextData"/>
		<add key="greaterWins"  value="1"/>
		<add key ="SenderEmail" value ="wtstrunk1@gmail.com"/>
		<add key ="senderDisplayName" value ="Tyler Strunk"/>
	</appSettings>
	<connectionStrings>
  <add name="Tournaments" connectionString="Server=ROBOFISH;Database=Tournaments;Trusted_Connection=True;"
   providerName="System.Data.SqlClient" />
  <add name="TrackerUI1.Properties.Settings.TournamentsConnectionString"
   connectionString="Data Source=ROBOFISH;Initial Catalog=Tournaments;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" userName="Tyler" password="testing" port="25" enableSsl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

